@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Poppins Bold';
    src: url('/fonts/Poppins-Bold.ttf') format('ttf');
  }

  @font-face {
    font-family: 'Poppins Medium';
    src: url('/fonts/Poppins-Medium.ttf') format('ttf');
  }

  @font-face {
    font-family: 'Poppins Light';
    src: url('/fonts/Poppins-Light.ttf') format('ttf');
  }
  @font-face {
    font-family: 'Poppins Regular';
    src: url('/fonts/Poppins-Regular.ttf') format('ttf');
  }
  @font-face {
    font-family: 'Poppins SemiBold';
    src: url('/fonts/Poppins-SemiBold.ttf') format('ttf');
  }
  html,
  body {
    scroll-behavior: smooth;
    font-family: 'Poppins Medium', Roboto;
  }
}
