---
import { ArrowUpRight } from "lucide-astro";
import { Button } from "@openui-org/react";
---

<img
    src="/gradient.png"
    alt=""
    class="absolute -top-8 left-2/4 -translate-x-1/2"
    width="800"
/>

<section class="py-24 sm:py-32 md:py-40 relative">
    <div
        class="mx-auto px-4 sm:px-6 lg:px-8 max-w-7xl gap-16 sm:gap-y-24 flex flex-col"
    >
        <div class="text-center relative z-[1]">
            <h1
                class="text-6xl font-bold tracking-tight text-balance"
            >
                <b class="text-sky"> Open UI </b>. A modern design system
                built with <b class="text-sky"> Shadcn UI</b> and
                <b class="text-sky"> Tailwind CSS </b>
            </h1>
            <p class="mt-6 text-lg tracking-tight text-foreground text-pretty">
                Open UI is an open source design system with a completely
                cutting-edge system. <br /> Fully customizable and modifiable you
                will make UI development much faster with fully stylized components.
            </p>
            <div class="mt-10 flex flex-wrap gap-x-6 gap-y-3 justify-center">
                <Button>
                    <ArrowUpRight class="size-6" />
                    Get Started
                </Button>
            </div>
        </div>
    </div>
</section>


<figure class="flex justify-center items-center mt-8 mb-24">
    <img src='/demo-dashboard.png' alt='Demo dashboard with Open UI.' class="rounded-md w-full object-cover h-[36rem]"/>
</figure>