<section class="flex justify-around items-center my-20">
    <article class="flex-1">
        <h2
            class="py-2 text-5xl sm:text-5xl lg:text-6xl sm:tracking-tight sm:leading-[1.1]! font-extrabold lg:max-w-lg mx-auto sm:mx-0"
        >
            Customization made <b class="text-sky"> easy. </b>
        </h2>
    </article>
    <article class="flex-1">
        <p class="text-xl">
            <b class="text-sky">Open UI</b> is based on <a href="https://cva.style/docs"
            class="underline font-medium"
                >class-variance-authority</a
            >, it simplifies component slots customization while avoiding
            Tailwind class conflicts.
        </p>
    </article>
</section>
