<section class="flex justify-around items-center my-20">
    <article class="flex-1">
        <h2 class="py-2 text-5xl sm:text-5xl lg:text-6xl sm:tracking-tight sm:leading-[1.1]! font-extrabold lg:max-w-lg mx-auto sm:mx-0">
            Who said finance has to be boring?
        </h2>
    </article>
    <article class="flex-1">
        <p>With Cobalt, managing your business finances is effortless, empowering, and anything but boring. Our intuitive platform brings clarity to your cash flow, simplifies your financial decision-making, and puts the power of advanced financial management right at your fingertips. Say no to spreadsheets and tools designed in the 80s.</p>
    </article>
</section>