---
import { Button } from '@openui-org/react'
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Open UI.">
	<main>
		<h1>Hello Open Land</h1>
		<Button> Get Started </Button>
	</main>
</Layout>
